@font-face{
    font-family: font1;
    src: url("../fonts/SVN-Gilroy\ SemiBold.otf");
}
@font-face{
    font-family: font2;
    src: url("../fonts/SVN-Gilroy\ Medium.otf");
}
@font-face{
    font-family: font3;
    src: url("../fonts/SVN-Gilroy\ Black.otf");
}
@font-face{
    font-family: font4;
    src: url("../fonts/Original-Thin.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.uppercase{
    text-transform: uppercase;
}
body{
    font-family: font2;
    color: #94A2B3;
    font-size: 16px;
    line-height: 30px;
}
h1,h2,h3,h4,h5,h6{
    font-family: font2;
    color: #303030;
}
h1{
    font-size: 56px;
    line-height: 62px;
}
h3{
    font-size: 24px;
    line-height: 32px;
}
h4{
    font-size: 16px;
    line-height: 28px;
    color: white;
}
h5{
    font-size: 19px;
    line-height: 1.3;
    color: #002e33
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.container-lg{
    width: 1280px;
    margin: 0 auto;
    padding: 16px 0;
}
.container-fluid{
    width: 100%;
    padding: 0 16px;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.simple-link{
    color: #299EF3;
    text-decoration: none;
    font-weight: 700;
}
.btn{
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 60px;
}
.btn-small{
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 60px;
}
.btn-primary{
    color: rgb(0, 119, 109);
    background: #ffffff;
    font-family: font2;
}
.btn-secondary{
    color: white;
    background: rgb(0, 119, 109, 0.6);
    font-size: 18px;
}
.btn-secondary2{
    color: white;
    background: rgb(0, 119, 109);
    font-size: 18px;
}
.btn-outline{
    border: 2px solid white;
    color: white;
}
.btn-outline-black{
    text-align: center;
    border: 2px solid #002e33;;
    color: #002e33;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex-direction{
   flex-direction: column;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-content-start{
    align-content: flex-start;
}
.align-content-center{
    align-content: center;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-around{
    align-content: space-around;
}
.align-content-between{
    align-content: space-between;
}
.align-s-start{
    align-self: flex-start;
}
.align-s-center{
    align-self: center;
}
.justify-s-center{
    align-items: center;
}
.align-s-end{
    align-self: flex-end;
}
.col-1{
    width: 8.33%;
    padding: 0 16px;
}
.col-2{
    width: 16.66%;
    padding: 0 16px;
}
.col-3{
    width: 25%;
    padding: 0 16px;
}
.col-4{
    width: 33.33%;
    padding: 0 16px;
}
.col-5{
    width: 41.66%;
    padding: 0 16px;
}
.col-6{
    width: 50%;
    padding: 0 16px;
}
.col-7{
    width: 58.33%;
    padding: 0 16px;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
    padding: 0 16px;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
    padding: 0 16px;
}
.col-12{
    width: 100%;
    padding: 0 16px;
}
.gray{
    background-color: rgb(209, 209, 209);
}
.margin-top{
    margin-top: 62px;
}
.margin-top2{
    margin-top: 150px;
}
.margin-top3{
    margin-top: 152px;
}
@media (min-width:576px)
{
	.container{ width:540px; margin: auto}
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}
/*-------chia style cho tablet doc-----------*/
@media (min-width:768px)
{
	.container{ width:720px; margin: auto}
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}
/*-------chia style cho tablet ngang = pc nho :1024-----------*/
@media (min-width:992px)
{
	.container{ width:960px; margin: auto}
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
}
/*-------chia style cho pc :1200-----------*/
@media (min-width:1200px)
{
	.container{ width:1140px; margin: auto}
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}
/*-------chia style cho pc :1200-----------*/
@media (min-width:1400px)
{
	.container{ width:1320px; margin: auto}
	.col-xxl-1 {width: 8.33%;}
	.col-xxl-2 {width: 16.66%;}
	.col-xxl-3 {width: 25%;}
	.col-xxl-4 {width: 33.33%;}
	.col-xxl-5 {width: 41.66%;}
	.col-xxl-6 {width: 50%;}
	.col-xxl-7 {width: 58.33%;}
	.col-xxl-8 {width: 66.66%;}
	.col-xxl-9 {width: 75%;}
	.col-xxl-10 {width: 83.33%;}
	.col-xxl-11 {width: 91.66%;}
	.col-xxl-12 {width: 100%;}
}
